<% provide(:title, I18n.t(:my_groups, scope: 'custom.view.group')) %>

<div class="divider15"></div>

<div class="row">
  <div class="col-sm-3">
    <%= render 'layouts/profile' %>
  </div>

  <div class="col-sm-7">
    <% @groups.each do |group| %>
      <div class="row well">
        <div class="col-sm-12">
          <%= group.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
