<div class="row">
	<div class="col-sm-3">
		<p>
		  <strong><%= @group.name %></strong>
		</p>
	</div>
	
	<div class="divider15"></div>

	<div class="col-sm-9">
		<% nb = @users.size %>
		<% (0..nb/4).each do |i| %>

			<div class="row">
				<% (0..3).each do |j| %>
					<div class="col-sm-2 text-center">
						<% index = i*4 + j %>
						<% unless @users[index].nil? %>
							<%= gravatar_for(@users[index]) %>
							<br />
							<%= @users[index].nom + " " + @users[index].prenom %>
						<% end %>
					</div>
				<% end %>
			</div>

		<% end %>

		<%= will_paginate_helper @users %>
	</div>
</div>
