</div>

<% provide(:title, I18n.t(:title, scope: 'custom.controller.home')) %>

<%= render 'layouts/carousel' %>

<div class="container">

<hr class="divider15">

<div class="panel panel-info">
  <div class="panel-body">

  	<div class="row">
  		<div class="col-sm-3 col-md-3">
		    <input type="text" class="form-control sport" placeholder="Sport ..">
		  </div>
  		<div class="col-sm-5 col-md-5">
		    <input type="text" class="form-control address" placeholder="Adresse ..">
		  </div>
  		<div class="col-sm-3 col-md-3">
		    <button type="button" class="btn btn-primary">Organiser</button>
		  </div>
  		<div class="col-sm-1 col-md-1">
		    <%= link_to image_tag("glyphicons_194_circle_question_mark.png", class: "halfme"), id: "featurette1" %>
		  </div>
  	</div>

  	<div class="row">
  		<div class="col-sm-3 col-md-3">
		    <input type="text" class="form-control sport" placeholder="Sport ..">
		  </div>
  		<div class="col-sm-5 col-md-5">
		    <input type="text" class="form-control address" placeholder="Adresse ..">
		  </div>
  		<div class="col-sm-3 col-md-3">
		    <button type="button" class="btn btn-primary">Chercher</button>
		  </div>
  		<div class="col-sm-1 col-md-1">
		    <%= image_tag "glyphicons_194_circle_question_mark.png", class: "halfme" %>
		  </div>
  	</div>

  	<div class="row">
  		<div class="col-sm-3 col-md-3">
		    <input type="text" class="form-control sport" placeholder="Field ..">
		  </div>
  		<div class="col-sm-5 col-md-5">
		    <input type="text" class="form-control address" placeholder="Adresse ..">
		  </div>
  		<div class="col-sm-3 col-md-3">
		    <button type="button" class="btn btn-primary">Enregistrer</button>
		  </div>
  		<div class="col-sm-1 col-md-1">
		    <%= image_tag "glyphicons_194_circle_question_mark.png", class: "halfme" %>
		  </div>
  	</div>

  </div>
</div>

<hr class="divider80">

<div id="featurette1" class="row featurette">
	<div class="col-sm-7 col-md-7 featurette-text">
		<h2 class="featurette-heading">
			Organiser <span class="text-muted">vos Matchs.</span>
		</h2>
		<p class="lead justify">
			Organisez votre propre Match. Choisissez un Field, lancez des invitations et constituez votre équipe. Une fois le Match organisé, vous pourrez échanger des commentaires avec les autres participants.
		</p>
	</div>
	<div class="col-sm-5 col-md-5">
		<img src="http://placehold.it/450x450" alt="450x450">
	</div>
</div>

<hr class="divider80">

<div class="row featurette">
	<div class="col-sm-5 col-md-5">
		<img src="http://placehold.it/450x450" alt="450x450">
	</div>
	<div class="col-sm-7 col-md-7 featurette-text">
		<h2 class="featurette-heading">
			Chercher <span class="text-muted">des Matchs.</span>
		</h2>
		<p class="lead justify">
			Vous voulez participer à un Match ? Allez dans le menu Match et choisissez-en un dans la liste. Vous pourrez alors accéder à la page du Match et lire les commentaires des autres participants. N'hésitez pas à leur poser vos questions si vous ne les connaissez pas encore.
		</p>
	</div>
</div>

<hr class="divider80">

<div class="row featurette">
	<div class="col-sm-7 col-md-7 featurette-text">
		<h2 class="featurette-heading">
			Enregistrer <span class="text-muted">vos Terrains préférés.</span>
		</h2>
		<p class="lead justify">
			Vous ne trouvez pas votre terrain préféré dans la liste des Fields, enregistrez-le! Votre Field sera dans premier temps en attente de validation, et vous serez le seul à pouvoir y organiser un Match. Une fois votre premier Match joué, les participants valideront le terrain et tous les Sportizers pourront l'utiliser par la suite.
		</p>
	</div>
	<div class="col-sm-5 col-md-5">
		<img src="http://placehold.it/450x450" alt="450x450">
	</div>
</div>

<hr class="divider80">
