<% provide(:title, I18n.t(:title, scope: 'custom.controller.home')) %>

<div class="center hero-unit">
	<h1>Sport in the City</h1>

	<h2>
		Welcome to your urban sport site!
		Find a field, subscribe and build up your own team.
	</h2>

<% unless signed_in? %>
	<%= link_to I18n.t(:become_member, scope: 'custom.form'), new_user_registration_path, class: "btn btn-large btn-primary" %>
<% end %>

</div>
