<% provide(:title, I18n.t(:title, scope: 'custom.controller.home')) %>

<div class="center hero-unit">
	<h1>Sport in the City</h1>

	<h2>
		Welcome to your urban sport site!
		Find a field, subscribe and build up your own team.
	</h2>

	<% unless signed_in? %>
		<%= link_to I18n.t(:become_member, scope: 'custom.form'), new_user_registration_path, class: "btn btn-large btn-primary" %>
	<% end %>
</div>

<div class="row">
	<div class="span4">
		<h3>Organize a Match</h3>
		<p class="justify">Organize your own Match. Choose a Field, send invitations and build up your team. Therefore, you can exchange comments with your teammates.</p>
	</div>

	<div class="span4">
		<h3>Find a Match</h3>
		<p class="justify">You're looking for a Match? Click on the Match menu and choose from the list. You can then access to the Match page and read comments about the Match. Do not hesitate to ask your questions to the other players if you do not know them yet.</p>
	</div>

	<div class="span4">
		<h3>Register a Field</h3>
		<p class="justify">Your favorite field is not in the list, register it! You'll be then the only one able to organize matches in this Field. After the first Match, your teammates will be asked to validate the Field. Given their feedback, the Field will be added to or rejected from the Fields list.</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<p><%= link_to "Organize", '#', class: "btn" %></p>
	</div>

	<div class="span4">
		<p><%= link_to "  Find  ", '#', class: "btn" %></p>
	</div>
	
	<div class="span4">
		<p><%= link_to "Register", '#', class: "btn" %></p>
	</div>
</div>
