</div>

<% provide(:title, I18n.t(:title, scope: 'custom.controller.home')) %>

<%= render 'layouts/carousel' %>

<div class="container">

<div class="panel panel-info">
  <div class="panel-body">

  	<div class="row">
  		<div class="col-sm-3 col-md-3">
		    <input type="text" class="form-control sport" placeholder="Sport ..">
		  </div>
  		<div class="col-sm-5 col-md-5">
		    <input type="text" class="form-control address" placeholder="Adresse ..">
		  </div>
  		<div class="col-sm-4 col-md-4">
		    <button type="button" class="btn btn-primary">Organiser</button>
		  </div>
  	</div>

  	<div class="row">
  		<div class="col-sm-3 col-md-3">
		    <input type="text" class="form-control sport" placeholder="Sport ..">
		  </div>
  		<div class="col-sm-5 col-md-5">
		    <input type="text" class="form-control address" placeholder="Adresse ..">
		  </div>
  		<div class="col-sm-4 col-md-4">
		    <button type="button" class="btn btn-primary">Chercher</button>
		  </div>
  	</div>

  	<div class="row">
  		<div class="col-sm-3 col-md-3">
		    <input type="text" class="form-control sport" placeholder="Field ..">
		  </div>
  		<div class="col-sm-5 col-md-5">
		    <input type="text" class="form-control address" placeholder="Adresse ..">
		  </div>
  		<div class="col-sm-4 col-md-4">
		    <button type="button" class="btn btn-primary">Enregistrer</button>
		  </div>
  	</div>

  </div>
</div>
