<% provide(:title, 'Accueil') %>

<div class="center hero-unit">
	<h1>Sport in the City</h1>

	<h2>
		Bienvenu sur le site du sport urbain!
		Réservez, constituez votre équipe et prenez du plaisir.
	</h2>

<% unless signed_in? %>
	<%= link_to "Devenir membre" , new_user_registration_path, class: "btn btn-large btn-primary" %>
<% end %>

</div>
