<% provide(:title, 'Matchs') %>

<h1><%= I18n.t(:match_list, scope: 'custom.view.match') %></h1>

<%= will_paginate_helper @matches %>

<div class="center hero-unit">
  <%= render 'table' %>
</div>

<br />

<%= will_paginate_helper @matches %>
