<p>Hello <%= @resource.email %>!</p>

<p>We received a request to modify your password. You can do it by clicking the link below.</p>

<p><%= link_to 'Modify my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you haven't requested this change, please ignore this email.</p>
<p>Your password will not change as long as you do not type a new one after clicking the link above.</p>
