<% provide(:title, 'Fields') %>

</div>

<%= content_tag :div, id: "field_infos", data: { url: "fields.json", search: "Y" } do %>
<% end %>

<div class="map_container">
  <div id="map" class="map_with_all_fields" data-no-turbolink></div>
</div>

<div class="container">
