<% provide(:title, print_field(@field)) %>

<div class="row">
  <div class="col-md-3 col-sm-offset-1">
    <p>
      <strong><%= print_field(@field) %></strong><br/>
      <u>Lat:</u> <%= @field.latitude %><br/>
      <u>Lon:</u> <%= @field.longitude %><br/>
    </p>
  </div>

  <%= content_tag :div, id: "field_infos", data: { url: "#{@field.id}.json", zoom: 15, search: "N" } do %>
  <% end %>

  <div class="col-md-8">
    <div class="map_container">
      <div id="map" class="map_with_one_field" data-no-turbolink></div>
    </div>
  </div>

</div>
