<div id="SportEverywhereCarousel" class="carousel slide" data-ride="carousel">
  
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#SportEverywhereCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#SportEverywhereCarousel" data-slide-to="1"></li>
    <li data-target="#SportEverywhereCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <%= image_tag "fencing-6vs1-5122x1900.jpg", alt: "fencing-6vs1" %>
      <div class="carousel-caption">
        <div class="row">
          <div class="col-sm-7"></div>
          <div class="col-sm-4">
            <div class="text-justify">
              <h1>Don't stay alone, some duels are waiting for you!</h1>
              <br /><br />
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag "football-1-5616x2200.jpg", alt: "football-1" %>
      <div class="carousel-caption">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="text-justify">
              <h1>You need more than four players for a football game!</h1>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>

    <div class="item">
      <%= image_tag "kayak-1-6275x2200.jpg", alt: "kayak-1" %>
      <div class="carousel-caption">
        <div class="row">
          <div class="col-sm-7"></div>
          <div class="col-sm-5">
            <div class="text-justify">
              <h1>With SPINTCY, sport is played in a group!</h1>
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#SportEverywhereCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#SportEverywhereCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>